:root{
    --branco: #f2f2f2;
    --azul: #009393;
    --shadow: #004444;
    --softGreen: #009122;
    --softBlue: #00A5CF;
    --white: white;
    --invisible: rgba(0 0 0 / 0%);
}
*{
    padding: 0;
    margin: 0;
    transition: 0.1s;
}
.ocl{
    display: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(var(--shadow) 15%, transparent 16%), repeating-linear-gradient(0deg, transparent 6.5%, var(--white) 7%, var(--white) 9%, transparent 10%), linear-gradient(45deg, transparent 49%, var(--shadow) 49%, var(--shadow) 51%, transparent 50%), linear-gradient(-45deg, transparent 49%, var(--shadow) 49%, var(--shadow) 51%, transparent 51%);
    background-size: 3em 3em;
}
.Bcard{
    background-color: var(--branco);
    width: 83vw;
    height: 80vh;
    margin-top: 7vh;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;
    align-items: center;
    border: 2px solid var(--shadow);
}
    .slide{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #slide1{
        display: flex;
    }
    .corpo{
        display: flex;
        height: 84%;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 4vh;
    }   
        .img{
            width: 34%;
            height: 82%;
            border-radius: 19vw;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url('logo.png');
        }
        .texts{
            width: 55%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .name{
                color: var(--shadow);
                font-family: 'Font Awesome 6 Free';
                font-size: 4vh;
            }
            .palagrafy{
                margin-top: 2vh;
                color: var(--azul);
                font-family: sans-serif;
                font-weight: bold;
                font-size: 2.5vh;
                width: 36vw;
                height: 26vh;
                text-align: center;
            }
    .nomes{
        color: var(--shadow);
        font-family: sans-serif;
        font-size: 2vh;
        font-weight: bold;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
        .nomes label{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .nomes .icon{
            margin-right: 1vh;
        }
    .bd{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
        .Bigtext{
            color: var(--shadow);
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 8vh;
            font-family: sans-serif;
        }
        .log{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .logo{
                width: 16vw;
                height: 31vh;
                border-radius: 20vw;
                margin-bottom: 3vh;
                background-image: url('logo.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .desc{
                color: var(--azul);
                font-size: 3vh;
                font-family: 'Font Awesome 6 Free';
            }
    .bnt{
        width: 7vw;
        position: absolute;
        height: 7vh;
        border-radius: 17px;
        color: var(--shadow);
        background-color: var(--azul);
        font-size: 3vh;
        font-weight: bold;
        margin: -77vh 0vw 0vh 85vw;
        border: 2px solid var(--shadow);
    }
    
    .boxText{
        display: flex;
        width: 22vw;
        height: 11vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--white);
        background-color: var(--azul);
        border-radius: 20px;
        font-size: 3vh;
        font-family: sans-serif;
        font-weight: bold;
        margin-bottom: 3vh;
    }
        .boxText:hover{
            width: 29vw;
            height: 18vh;
            cursor: pointer;
        }
        .boxText:hover .textMost{
            display: none;
        }
        .boxText:hover .textIntern{
            display: flex;
            width: 26vw;
        }
        .textMost{
            display: flex;
        }
        .textIntern{
            display: none;
        }

    #CorA{
        background-color: var(--branco);
        border: 2px solid var(--shadow);
        color: var(--shadow);
    }
    #CorB{
        background-color: var(--softBlue);
    }
    #CorC{
        background-color: var(--softGreen);
    }
    #infoPag{
        width: 3vw;
        position: absolute;
        height: 4vh;
        border-radius: 17px;
        color: var(--shadow);
        font-size: 3vh;
        font-weight: bold;
        margin: -71vh 0vw 0vh 75vw;
        text-align: center;
    }
        .bnt:hover{
            cursor: pointer;
        }
